<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ronaldo</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/clubs">Clubs</a>
        <a href="/gallery">Gallery</a>
   </nav>

   <h1>Very very famous Cristiano Ronaldo played in those clubs</h1>
<div id="logos">
    <img class="clubs" src="/images/sporting-cp.png" />
    <img class="clubs" src="/images/real-madrid.png" />
    <img class="clubs" src="/images/manchester-united.png" />
    <img class="clubs" src="/images/juventus.png" />
    <img class="clubs" src="/images/al-nasar.png" />
</div>

</body>
</html>