<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ronaldo</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
        
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/clubs">Clubs</a>
        <a href="/gallery">Gallery</a>
    
   </nav>

   <h1>Gallery of very very famous Cristiano Ronaldo</h1>

   <div id="crist">
    <img class="ron" src="/images/ron0.jpeg" />
    <img class="ron" src="/images/ron1.jpeg" />
    <img class="ron" src="/images/ron2.png" />
    <img class="ron" src="/images/ron3.jpeg" />
    <img class="ron" src="/images/ron4.jpeg" />
    <img class="ron" src="/images/ron5.jpeg" />
    <img class="ron" src="/images/ron6.jpeg" />
    <img class="ron" src="/images/ron7.jpeg" />
    <img class="ron" src="/images/ron8.jpeg" />
    <img class="ron" src="/images/ron9.webp" />
   </div>
   
</div>
</body>
</html>