<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ronaldo</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
        
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/clubs">Clubs</a>
        <a href="/gallery">Gallery</a>
   </nav>

    <div>
        <h1>He is very very famous! Cristiano Ronaldo!</h1>
    </div>

    <div>
        <p><img id="main-ron" src="/images/ronaldo.webp"></p>
    </div>

</body>
</html>